
<header id="header">
  <div class="header_top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          
            <ul class="nav nav-pills">
              <li><a ><i class="fa fa-envelope"></i> emin.bnc34@gmail.com</a></li>
            </ul>
          </div>
        
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-pills">
              <li><a ><i class="fa fa-facebook"></i></a></li>
              <li><a ><i class="fa fa-twitter"></i></a></li>
              <li><a ><i class="fa fa-linkedin"></i></a></li>
              <li><a ><i class="fa fa-dribbble"></i></a></li>
              <li><a ><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  <div class="container-fluid" >
    <div >
      <div class="row"style="border: 0px;">
        <div class="col-sm-4" >
          <div class="container" style="outline: 0;" routerLink="">
          <h2 ><span style="color: rgb(80, 141, 255);">RECAP</span>UI</h2>
        </div>
      </div>
        <div class="col-md-8" >
          <div class="shop-menu clearfix pull-right">
            <ul *ngIf="loggedIn()" class="nav navbar-dark">
              <li *ngIf="isDeveloper()" routerLink="jobposting"><a ><i class="fa fa-check-square"></i>Başvurulan İş İlanları</a></li>
              <li *ngIf="isCompany()" routerLink="companypage"><a ><i class="fa fa-check-square"></i>Şirket Sayfası</a></li>
              <li routerLink="login" (click)="logout()"><a ><i class="fa fa-sign-out"></i> Çıkış Yap</a></li>
              <li ><a ><i class="fa fa-user"></i> Profil</a></li>
              </ul>
              <ul *ngIf="!loggedIn()" class="nav navbar-dark">
              <li routerLink="register"><a ><i class="fa fa-user"></i> Üye Ol</a></li>
              <li routerLink="login"><a><i class="fa fa-lock"></i> Giriş Yap</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



